<a href="https://colab.research.google.com/github/Song-juni/BP_10_Ch6/blob/main/EXE_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#6-1

In [3]:
for i in range(2, 101):
    if i%2==0 :
      print(i,end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

#6-2

In [5]:
year = 0
balance = 1000

while balance >= 2000:            #>=이 아닌 <= 으로 변경을 해야한다.
  year = year + 1
  interest = balance * 0.07
  balance = balance + interast
print(year, "년이 걸립니다.")

0 년이 걸립니다.

#6-3

In [10]:
n = 1234
sum = 0
while n > 0:
  digit = n % 10
  sum = sum + digit
  n = n // 10
print(sum)

10

#6-4

In [15]:
ans = 0
while ans != 3*9:
  ans = int(input("3*9는"))
print("맞았습니다.")

3*9는27
맞았습니다.

#6-5

In [18]:
sum = 0
while True:
  x = int(input("정수를 입력하시오: "))
  if x == 0:
    break;
    sum = sum + x

print("합은", sum, "입니다.")

정수를 입력하시오: 1
정수를 입력하시오: 2
정수를 입력하시오: 3
정수를 입력하시오: 4
정수를 입력하시오: 5
정수를 입력하시오: 0
합은 0 입니다.

#6-6

In [21]:
from random import randint

for i in range(3) :
  d1 = randint(1, 6)
  d2 = randint(1, 6)
  print("첫번째 주사위=", d1, "두번째 주사위=",d2)

첫번째 주사위= 5 두번째 주사위= 5
첫번째 주사위= 1 두번째 주사위= 5
첫번째 주사위= 2 두번째 주사위= 3

#6-7

In [ ]:
import turtle

t = turtle.Turtle()
t.shape("turtle")
t.left(90)

for i in range(1, 7):
  t.forward(100)
  t.forward(-30)
  t.left(60)
  t.forward(30)
  t.forward(-30)

  t.right(120)
  t.forward(30)
  t.forward(-30)

  t.left(60)
  t.forward(-70)
  t.left(60)

#6-8